<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>generic_browser</key>
		<dict>
			<key>title</key>
			<string>Generic Browser</string>
			<key>icon_file</key>
			<string>generic-browser-icon</string>
			<key>type</key>
			<string>frame</string>
			<key>mask_type</key>
			<string>none</string>
			<key>top_bar_height</key>
			<integer>64</integer>
			<key>bottom_bar_height</key>
			<integer>3</integer>
			<key>left_border_width</key>
			<integer>3</integer>
			<key>right_border_width</key>
			<integer>3</integer>
			<key>minimum_width</key>
			<integer>800</integer>
			<key>base</key>
			<dict>
				<key>file</key>
				<string>generic-browser-base</string>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>title_label</key>
			<dict>
				<key>available</key>
				<true/>
				<key>center</key>
				<true/>
				<key>size</key>
				<integer>13</integer>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>235</integer>
					<key>y</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>url_label</key>
			<dict>
				<key>available</key>
				<true/>
				<key>center</key>
				<true/>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>235</integer>
					<key>y</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>url_bar</key>
			<dict>
				<key>file</key>
				<string>generic-browser-url-bar</string>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>87</integer>
					<key>y</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
