<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mockups</key>
	<dict>
		<key>_generic_phone</key>
		<dict>
			<key>bottom_gutter</key>
			<integer>58</integer>
			<key>allows_landscape</key>
			<true/>
			<key>title</key>
			<string>Generic Phone</string>
			<key>icon_file</key>
			<string>generic-phone-icon</string>
			<key>type</key>
			<string>mockup</string>
			<key>screen</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>215</integer>
					<key>y</key>
					<integer>283</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>width</key>
					<integer>640</integer>
					<key>height</key>
					<real>1136</real>
				</dict>
			</dict>
			<key>base</key>
			<dict>
				<key>alternates</key>
				<dict>
					<key>Blue</key>
					<string>generic-phone-base_blue</string>
					<key>Red</key>
					<string>generic-phone-base_red</string>
				</dict>
				<key>default_base</key>
				<string>Blue</string>
				<key>file</key>
				<string>generic-phone-base_blue</string>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>glare</key>
			<dict>
				<key>file</key>
				<string>generic-phone-glare</string>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>shadow</key>
			<dict>
				<key>landscape_file</key>
				<string>generic-phone-shadow_landscape</string>
				<key>file</key>
				<string>generic-phone-shadow</string>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>statusbar</key>
			<dict>
				<key>file</key>
				<string>generic-phone-statusbar</string>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>220</integer>
					<key>y</key>
					<integer>1385</integer>
				</dict>
			</dict>
			<key>logo</key>
			<dict>
				<key>file</key>
				<string>generic-phone-branding</string>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>500</integer>
					<key>y</key>
					<integer>154</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
